/* Общий стиль блока */
.searchBlock {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 560px;
    font-family: Montserrat sans-serif;
    margin: 0 auto;
    background: url('../../../shared/ui/assets/images/Orange_Full_BG_2.png') no-repeat center/cover;
    overflow: hidden;
}

/* Контейнер строки поиска */
.searchContent {
    display: flex;
    align-items: center;
    z-index: 1;
    margin-left: 40px;
    max-width: 700px;
    width: 100%;
    flex-grow: 1;
}

/* Поле ввода */
.searchInput {
    flex: 1;
    font-size: 19px;
    padding: 15px 20px;
    border: none;
    border-radius: 50px 0 0 50px;
    background-color: #fff;
    color: #333;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 754px;
}
/* Кнопка поиска */
.searchButton {
    background-color: #fff;
    border: none;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 0 50px 50px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
}

.searchButton:hover {
    background-color: #FF7D40;
    color: #fff;
}
.searchIcon {
    width: 22px;
    height: 22px;
}
/* Изображение справа */
.imageSrc {
    margin-top: 14% ;
    max-height: 400px;
    object-fit: contain;
    margin-left: 20px;
    z-index: 1;
}

@media (max-width: 480px) {
   .searchBlock{
       width: 100%;
       height: 150px;
   }
    .searchContent{
        justify-content: center;
        max-width: 480px;
        width: 100%;
        margin-left: 5px;
    }
    .searchButton{
        width: 24px;
        height: 24px;
    }
    .searchInput {
        flex: 1;
        font-size: 24px;
        padding: 1px 15px;
        border: none;
        border-radius: 50px 0 0 50px;
        background-color: #fff;
        color: #333;
        outline: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 300px;
    }
}