.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.categoryBlock {
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.categoryBlock .rubrics {
    flex: 1;
}

.categoryBlock .news {
    flex: 2;
}