.headerNavLink {

    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    transition: color 0.3s, background-color 0.3s, opacity 0.3s;
}

.headerNavLink:hover {
    color: #007bff;
    background-color: #FF7D40;
    opacity: 0.9; /* 90% непрозрачности */
}